.logoimgfooter img{
    max-height: 4vh;
}

.footer{
    background: linear-gradient(240deg, rgba(66,254,255,1) 0%, rgba(255,236,160,1) 16%, rgba(255,195,160,1) 54%, rgba(255,195,160,1) 84%, rgba(252,176,69,1) 100%);    display: flex;
    justify-content: space-evenly;
}


.footerright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    height: 100px;
}


.rrsslogos{
    color: #000000;
    text-decoration: none !important;}

.rrsslogos:hover{
    color: white;
}