.logoimgfooter img{
    max-height: 4vh;
}

.footer{
    background-color: #A9A9A9;
    display: flex;
    justify-content: space-evenly;
}


.footerright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100px;
}

.rrsslogos{
    color: white;
}