.logoimgfooter img{
    max-height: 4vh;
}

.footer{
    background-color: rgb(255, 96, 96);
    display: flex;
    justify-content: space-evenly;
}


.footerright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100px;
}

.rrsslogos{
    color: white;
}